@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #2d7ac7;
  --color-primary-container: #a8cfec;
  --color-secondary: #22c55e;
  --color-secondary-container: #dffff1;
  --color-tertiary: #4c5a68;
  --color-tertiary-container: #737d86;
  --color-error: #dc2626;
  --color-error-container: #f8d3d3;
  --color-surface-variant: #dfe4ec;
  --color-background: #f8fafc;
  --font-cairo: "Cairo", sans-serif;
  --font-el-messiri: "El Messiri", sans-serif;
  --animate-horizontal-glass: horizontal-glass 3s linear infinite;
  --animate-vertical-glass: vertical-glass 3s linear infinite;
  --animate-glow-after: glow-after 2s ease-in-out infinite;
  --animate-glow-before: glow-before 2s ease-in-out infinite;
  @keyframes horizontal-glass {
    0%,
    25%,
    75%,
    100% {
      top: 10%;
      right: -10%;
    }
    50% {
      right: 50%;
    }
  }
  @keyframes vertical-glass {
    0%,
    100% {
      left: -20%;
      top: 22%;
    }
    25%,
    75% {
      top: 60%;
    }
  }
  @keyframes glow-before {
    0%,
    100% {
      box-shadow: 5px 0px 8px 0px white;
    }
    50% {
      box-shadow: 5px 0px 8px 7px white;
    }
  }
  @keyframes glow-after {
    0%,
    100% {
      box-shadow: -5px 0px 8px 0px white;
    }
    50% {
      box-shadow: -5px 0px 8px 7px white;
    }
  }
}

@utility font-display-bold-large {
  font-family: var(--font-el-messiri);
  font-size: 3.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0px;
}

@utility font-display-bold-medium {
  font-family: var(--font-el-messiri);
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
  letter-spacing: 0px;
}

@utility font-display-bold-small {
  font-family: var(--font-el-messiri);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0px;
}

@utility font-headline-semibold-large {
  font-family: var(--font-el-messiri);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

@utility font-headline-semibold-medium {
  font-family: var(--font-el-messiri);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: 0px;
}

@utility font-headline-semibold-small {
  font-family: var(--font-el-messiri);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0px;
}

@utility font-title-semibold-large {
  font-family: var(--font-cairo);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0px;
}

@utility font-title-semibold-medium {
  font-family: var(--font-cairo);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

@utility font-title-semibold-small {
  font-family: var(--font-cairo);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

@utility font-body-regular-large {
  font-family: var(--font-cairo);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

@utility font-body-regular-medium {
  font-family: var(--font-cairo);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}

@utility font-body-regular-small {
  font-family: var(--font-cairo);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.4px;
}

@utility font-label-large {
  font-family: var(--font-cairo);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

@utility font-label-medium {
  font-family: var(--font-cairo);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

@utility font-label-small {
  font-family: var(--font-cairo);
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

@utility filled-button {
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 32px;
  text-align: center;
  border: 1px solid var(--color-primary);
  color: white;
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.glass,
.second-glass {
  background-color: rgba(179, 249, 219, 0.322);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.18);
}

.glass {
  backdrop-filter: url(#glass-distortion) blur(1px);
}

.second-glass {
  backdrop-filter: url(#figma-refraction-map) blur(1px);
}

.glass::before,
.glass::after,
.second-glass::before,
.second-glass::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

.glass::before,
.second-glass::before {
  z-index: 0;
}

.glass::after,
.second-glass::after {
  z-index: -1;
}

.glass::after {
  background: linear-gradient(40deg, rgb(219, 219, 219, 0.3), rgb(175, 175, 175, 1)) border-box;
}

.glass::before {
  background: linear-gradient(40deg, rgb(219, 219, 219, 1)) border-box;
}

.second-glass::after {
  background: linear-gradient(40deg, rgb(219, 219, 219, 0.3), rgb(175, 175, 175, 1)) border-box;
}

.second-glass::before {
  background: linear-gradient(40deg, rgb(219, 219, 219, 1)) border-box;
}
